/*** Tipografía/Fuente ***/
html{
    font-size: 100%;
}
 *{
    font-family: 'Open Sans', sans-serif;
} 

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

h2{
    font-weight: 400;
    font-size: 2rem;
}

p{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
}

/* Fondo Colores */

body{
    background: #dfdfdf;
}
footer{
    background: #bebebe;
}

/*** Header ***/
header li a {
    text-decoration: none;
}

/*** Logo Header ***/

.logoHeader{
    margin: 50px;
}

/*** Home ***/
/*** NavBar ***/

ul {
    list-style: none;
    font-size:0 ;
}
li {
    display: inline-block;
    width: 20%;
    position:relative;
    font-size: 24px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}
/*** Fin NavBar ***/
.home {
    color: #999;
    text-align: center;
    font-style: italic;
}

.home img{
    width: 1500px;
    height: 800px;
}


/*** Discografía ***/
/*** NavBar ***/

ul {
    list-style: none;
    font-size:0 ;
}
li {
    display: inline-block;
    width: 20%;
    position:relative;
    font-size: 24px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}
/*** Fin NavBar ***/
.discos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.tituloDiscos h1{
    text-align: center;
}

.discos img{
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
    border: 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.discografiaDavidBowie{
    color: #005a0f;
}

.discografiaSpaceOddity{
    color: #0069af;
}

.discografiaTheManWhoSoldTheWorld{
    color: #950000;
}

.discografiaHunkyDory{
    color: #a1a327;
}

.discografiaZiggyStardust{
    color: #fdd158;
}
/*** Historia ***/
/*** NavBar ***/

ul {
    list-style: none;
    font-size:0 ;
}
li {
    display: inline-block;
    width: 20%;
    position:relative;
    font-size: 24px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}
/*** Fin NavBar ***/

.barraHistoria{
    margin: 20px;
    margin-top: 200px;
    background-color: #888888;
    padding: 40px;
}

.barraHistoria :hover{
    color: #fff;
}

.comienzoHistoria{
    color:#005a0f;
}   


.comienzoHistoria p{
    background-color: #777e78;
    width: 1200px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}    

.comienzoHistoria img{
    height: 500px;
    margin: 5px 20px;
    border: solid 5px;
}


.bonusHistoria {
    width: 500px;
    border: solid 2px;
}
.bonusHistoria img{
    width: 500px;
    border: solid 1px;
    
}

.ziggyStardustHistoria{
    color: #fdd158;
}

.ziggyStardustHistoria p{
    display: block;
    background-color: rgb(119, 108, 108);
    width: 1200px;
    margin: 10px;
    overflow: hidden;
}

.ziggyStardustHistoria img{
    border: solid 3px;
    width: 500px;
}

.epocaOscuraHistoria img{
    width: 500px;
}

.renacimientoHistoria img{
    width: 500px;
}

.finDelCamino img{
    width: 900px;
}

/*** Makeup ***/

/*** NavBar ***/

ul {
    list-style: none;
    font-size:0 ;
}
li {
    display: inline-block;
    width: 20%;
    position:relative;
    font-size: 24px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}
/*** Fin NavBar ***/

.tituloMakeUp{
    color: #888888;
    text-align: center;
}

.makeups h2{
    text-align: center;
}

.makeupZiggy{
    color: rgb(223, 45, 131);
}

.makeupZiggy img{
    width: 600px;
    height: 700px;
    margin: 5px;
    border: solid 3px rgb(226, 73, 75);
}

.makeupAladdin{
    color: rgb(226, 73, 75);
}

.makeupAladdin img{
    width: 600px;
    height: 600px;
    margin: 5px;
    border: solid 3px rgb(172, 163, 163);
}

.makeupScaryMonsters{
    color: rgb(165, 168, 178);
}

.makeupScaryMonsters img{
    width: 600px;
    height: 600px;
    margin: 5px;
    border: solid 3px rgb(165, 168, 178);
}

.makeupLabyrinth{
    color: rgb(146, 96, 71);
}

.makeupLabyrinth img{
    width: 600px;
    height: 500px;
    margin: 5px;
    border: solid 3px rgb(146, 96, 71);
}

.makeupHunkyDory{
    color: rgb(186, 212, 229);
}

.makeupHunkyDory img{
    width: 600px;
    height: 600px;
    margin: 5px;
    border: solid 3px rgb(186, 212, 229);
}

/*** Vestimentas ***/
/*** NavBar ***/

ul {
    list-style: none;
    font-size:0 ;
}
li {
    display: inline-block;
    width: 20%;
    position:relative;
    font-size: 24px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}
/*** Fin NavBar ***/

.tituloVestimenta{
    font-style: italic;
    text-align: center;
}


.vestimentas h1{
    color: #505050;
}

.vestimentasHunkyDory h2{
    color: rgb(186, 212, 229);
}
.vestimentasHunkyDory img{
    width: 900px;
    height: 1200px;
    border: 5px solid rgb(186, 212, 229);
    margin: 10px;
}

.vestimentasZiggy h2{
    color: rgb(215, 50, 44);
}

.vestimentasZiggy img{
    width: 900px;
    height: 1200px;
    border: 5px solid rgb(215, 50, 44);
    margin: 10px;
}

.vestimentasDiamondDogs h2{
    color: rgb(50, 100, 187);
}

.vestimentasDiamondDogs img{
    width: 900px;
    height: 1200px;
    border: 5px solid rgb(50, 100, 187);
    margin: 10px;
}

.vestimentasStationToStation h2{
    color: #888888;
}

.vestimentasStationToStation img{
    width: 900px;
    height: 1200px;
    border: 5px solid #888888;
    margin: 10px;
}

.vestimentasUnionJacket h2{
    color: rgb(180, 1, 20);
}

.vestimentasUnionJacket img{
    width: 900px;
    height: 1200px;
    border: 5px solid rgb(180, 1, 20);
    margin: 10px;
}

/*** Contacto ***/
/*** NavBar ***/

ul {
    list-style: none;
    font-size:0 ;
}
li {
    display: inline-block;
    width: 20%;
    position:relative;
    font-size: 24px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
}
/*** Fin NavBar ***/

.contacto{
    font-style: italic;
    text-align: center;
}

.contacto img{
    margin-bottom: 20px;
}
